@model List<Evento>
@{
    ViewData["Title"] = "Eventos";
}
<style>
    /*ocio*/
    .ocioButton{
        background: #22d3ee;
        color: white;
        border-color: #22d3ee;
    }

    .Header1 {
        background: linear-gradient(1deg, #acd8f3, #5586df24);
    }

    .Body1 {
        background: linear-gradient(45deg, transparent, #acd8f3);
    }

    .Footer1 {
        background: linear-gradient(1deg, #acd8f3, #5586df24);
    }

    .Button1 {
        background: linear-gradient(1deg, #acd8f3, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /*Gastronomia */
    .gastronomiaButton {
        background: #fb7185;
        color: white;
        border-color: #fb7185;
    }

    .Header2 {
        background: linear-gradient(1deg, #FFB3BA, #5586df24);
    }

    .Body2 {
        background: linear-gradient(45deg, transparent, #FFB3BA);
    }

    .Footer2 {
        background: linear-gradient(1deg, #FFB3BA, #5586df24);
    }

    .Button2 {
        background: linear-gradient(1deg, #FFB3BA, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /*Deportes*/
    .DeportesButton {
        background: #fde047;
        color: white;
        border-color: #fde047;
    }

    .Header3 {
        background: linear-gradient(1deg, #FFE5B4, #5586df24);
    }

    .Body3 {
        background: linear-gradient(45deg, transparent, #FFE5B4);
    }

    .Footer3 {
        background: linear-gradient(1deg, #FFE5B4, #5586df24);
    }

    .Button3 {
        background: linear-gradient(1deg, #FFE5B4, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /* Aire libre */
    .aireLibreButton {
        background: #4ade80;
        color: white;
        border-color: #4ade80;
    }

    .Header4 {
        background: linear-gradient(1deg, #85c19a, #5586df24);
    }

    .Body4 {
        background: linear-gradient(45deg, transparent, #85c19a);
    }

    .Footer4 {
        background: linear-gradient(1deg, #85c19a, #5586df24);
    }

    .Button4 {
        background: linear-gradient(1deg, #85c19a, #5586df24);
        border-color: #3f3c3c45 !important;
    }


    /*Arte y Cultura*/
    .arteCulturaButton {
        background: #fb923c;
        color: white;
        border-color: #fb923c;
    }

    .Header5 {
        background: linear-gradient(1deg, #c2a5cf, #5586df24);
    }

    .Body5 {
        background: linear-gradient(45deg, transparent, #CBB4D5);
    }

    .Footer5 {
        background: linear-gradient(1deg, #c2a5cf, #5586df24);
    }

    .Button5 {
        background: linear-gradient(1deg, #c2a5cf, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /*Tecnologia y ciencia */
    .tecnologiaCienciaButton {
        background: #f1a875;
        color: white;
        border-color: #f1a875;
    }

    .Header6 {
        background: linear-gradient(1deg, #f1a875, #5586df24);
    }

    .Body6 {
        background: linear-gradient(45deg, transparent, #f1a875);
    }

    .Footer6 {
        background: linear-gradient(1deg, #f1a875, #5586df24);
    }

    .Button6 {
        background: linear-gradient(1deg, #f1a875, #5586df24);
        border-color: #3f3c3c45 !important;
    }   

    .buttonCaption {
        color: white;
        font-size: 1.25rem;
        font-family: sans-serif;
    }

    #style-2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background: linear-gradient(-40deg,#001122, #001122);
    }

    /*Botones de paginación*/
    .pagination-button {
        margin-right: 10px; 
        background-color: #ffa500;
        border:none;
    }
</style>

<h1 class="display-4 mb-5">Eventos</h1>

<hr class="mb-3"/>

<div class="row p-2 m-1 d-flex justify-content-center" @*style="border-radius:5px; background-color:#001122;"*@>
    <div class="col-md-auto col-sm-auto">
        <a href="eventosporcategoria?categoria=1" class="btn m-1 text-truncate ocioButton buttonCaption">Ocio</a>
    </div>
    <div class="col-md-auto col-sm-auto">
        <a href="eventosporcategoria?categoria=2" class="btn m-1 text-truncate gastronomiaButton buttonCaption">Gastronomía</a>
    </div>
    <div class="col-md-auto col-sm-auto">
        <a href="eventosporcategoria?categoria=4" class="btn m-1 text-truncate aireLibreButton buttonCaption">Al aire libre</a>
    </div>
    <div class="col-md-auto col-sm-auto">
        <a href="eventosporcategoria?categoria=5" class="btn m-1 text-truncate arteCulturaButton buttonCaption">Arte y Cultura</a>
    </div>
    <div class="col-md-auto col-sm-auto">
        <a href="eventosporcategoria?categoria=6" class="btn m-1 text-truncate tecnologiaCienciaButton buttonCaption">Tecnología y Ciencia</a>
    </div>
    <div class="col-md-auto col-sm-auto">
        <a href="eventosporcategoria?categoria=3" class="btn m-1 text-truncate DeportesButton buttonCaption">Deportes</a>
    </div>
</div>
<hr />

@*<div class="col">
        <hr Categorias/>
        <div class ="col d-flex justify-content-center">
            <a href="eventosporcategoria?categoria=1" class="btn m-1 text-truncate ocioButton buttonCaption">Ocio</a>
            <a href="eventosporcategoria?categoria=2" class="btn m-1 text-truncate gastronomiaButton buttonCaption">Gastronomía</a>
            <a href="eventosporcategoria?categoria=4" class="btn m-1 text-truncate aireLibreButton buttonCaption">Al aire libre</a>
            <a href="eventosporcategoria?categoria=5" class="btn m-1 text-truncate arteCulturaButton buttonCaption">Arte y Cultura</a>
            <a href="eventosporcategoria?categoria=6" class="btn m-1 text-truncate tecnologiaCienciaButton buttonCaption">Tecnología y Ciencia</a>
            <a href="eventosporcategoria?categoria=3" class="btn m-1 text-truncate DeportesButton buttonCaption">Deportes</a>
        </div>
        <hr />
    </div>*@

<div class="overflow-visible" id="style-2" style="height: 100%;">
    @foreach (Evento oEvento in @Model)
    {
        if (!oEvento.Reservado)
        {
            string idHeader = "Header" + oEvento.FkIdCategoria.ToString();
            string idBody = "Body" + oEvento.FkIdCategoria.ToString();
            string idFooter = "Footer" + oEvento.FkIdCategoria.ToString();
            string idButton = "Button" + oEvento.FkIdCategoria.ToString();

            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header  @idHeader">
                        <h5 class="text-center card-title">
                            @oEvento.Titulo -
                            @if (oEvento.Precio == 0)
                            {
                                <label class="form-label">Gratis</label>
                            }
                            else
                            {
                                <label class="form-label">@oEvento.Precio €</label>
                            }
                            (@oEvento.ValorEnPuntos Ptos)
                        </h5>
                    </div>
                    <div class="card-body @idBody">
                        <div class="row">
                            <img src=@oEvento.Imagen
                                 class="rounded align-self-center" style="width: 155px;height: 155px;">

                            <div class="col">
                                <p class="card-text"> @oEvento.Descripcion</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col align-self-end">
                                <div class="d-flex justify-content-end">
                                    <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                    <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                </div>
                                 <div class="d-flex justify-content-end">
                                    <strong class="form-label" style="white-space:nowrap">Hora de inicio: </strong>
                                    <label class="form-label" style="margin-left:1%">@oEvento.HoraIncio.ToString(@"hh\:mm")</label>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                    <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <strong class="form-label" style="white-space:nowrap">Hora fin: </strong>
                                    <label class="form-label" style="margin-left:1%">@oEvento.HoraFin.ToString(@"hh\:mm")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                    {
                        <div class="card-footer @idFooter">
                            <div class="row">
                                <div class="col d-flex align-self-center">
                                    <strong>Categoria: </strong>
                                    <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                    <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                    <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                    <strong style="margin-left:2%">Entradas: </strong>
                                    <label class="form-label" style="margin-left:1%">@oEvento.PlazasMaximas</label>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    @if (User.IsInRole("Usuario"))
                                    {
                                        <a href="reservarevento?idEvento=@oEvento.IdEvento" class="btn m-1 @idButton">Reservar</a>                                    
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }        
    }
</div>

<hr />

<!-- Enlaces de paginación -->
<div class="d-flex justify-content-center mt-4 mb-3">
    @if (ViewBag.PaginaActual > 1)
    {
        <a href="@Url.Action("Eventos", new { page = ViewBag.PaginaActual - 1 })" class="btn btn-primary pagination-button">Anterior</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a href="@Url.Action("Eventos", new { page = i })" class="btn btn-secondary @(ViewBag.PaginaActual == i ? "active" : "") pagination-button">@i</a>
    }

    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a href="@Url.Action("Eventos", new { page = ViewBag.PaginaActual + 1 })" class="btn btn-primary pagination-button">Siguiente</a>
    }
</div>


