@model List<Evento>
@{
    ViewData["Title"] = "Eventos";
}
<style>
    .ocioButton {
        background: #acd8f3;
        color: white;
        border-color: #acd8f3;
    }

    .ocioCardHeader {
        background: linear-gradient(1deg, #acd8f3, #5586df24);
    }

    .ocioCardBody {
        background: linear-gradient(45deg, transparent, #acd8f3);
    }

    .ocioCardFooter {
        background: linear-gradient(1deg, #acd8f3, #5586df24);
    }

    .ocioCardButton {
        background: linear-gradient(1deg, #acd8f3, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /*Gastronomia */
    .gastronomiaButton {
        background: #FFB3BA;
        color: white;
        border-color: #FFB3BA;
    }

    .gastronomiaCardHeader {
        background: linear-gradient(1deg, #FFB3BA, #5586df24);
    }

    .gastronomiaCardBody {
        background: linear-gradient(45deg, transparent, #FFB3BA);
    }

    .gastronomiaCardFooter {
        background: linear-gradient(1deg, #FFB3BA, #5586df24);
    }

    .gastronomiaCardButton {
        background: linear-gradient(1deg, #FFB3BA, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /* Aire libre */
    .aireLibreButton {
        background: #85c19a;
        color: white;
        border-color: #85c19a;
    }

    .aireLibreCardHeader {
        background: linear-gradient(1deg, #85c19a, #5586df24);
    }

    .aireLibreCardBody {
        background: linear-gradient(45deg, transparent, #85c19a);
    }

    .aireLibreCardFooter {
        background: linear-gradient(1deg, #85c19a, #5586df24);
    }

    .aireLibreCardButton {
        background: linear-gradient(1deg, #85c19a, #5586df24);
        border-color: #3f3c3c45 !important;
    }


    /*Arte y Cultura*/
    .arteCulturaButton {
        background: #CBB4D5;
        color: white;
        border-color: #CBB4D5;
    }

    .arteCulturaCardHeader {
        background: linear-gradient(1deg, #c2a5cf, #5586df24);
    }

    .arteCulturaCardBody {
        background: linear-gradient(45deg, transparent, #CBB4D5);
    }

    .arteCulturaCardFooter {
        background: linear-gradient(1deg, #c2a5cf, #5586df24);
    }

    .arteCulturaCardButton {
        background: linear-gradient(1deg, #c2a5cf, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /*Tecnologia y ciencia */
    .tecnologiaCienciaButton {
        background: #f1a875;
        color: white;
        border-color: #f1a875;
    }

    .tecnologiaCienciaCardHeader {
        background: linear-gradient(1deg, #f1a875, #5586df24);
    }

    .tecnologiaCienciaCardBody {
        background: linear-gradient(45deg, transparent, #f1a875);
    }

    .tecnologiaCienciaCardFooter {
        background: linear-gradient(1deg, #f1a875, #5586df24);
    }

    .tecnologiaCienciaCardButton {
        background: linear-gradient(1deg, #f1a875, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    /*Deportes*/
    .DeportesButton {
        background: #FFE5B4;
        color: white;
        border-color: #FFE5B4;
    }

    .DeportesCardHeader {
        background: linear-gradient(1deg, #FFE5B4, #5586df24);
    }

    .DeportesCardBody {
        background: linear-gradient(45deg, transparent, #FFE5B4);
    }

    .DeportesCardFooter {
        background: linear-gradient(1deg, #FFE5B4, #5586df24);
    }

    .DeportesCardButton {
        background: linear-gradient(1deg, #FFE5B4, #5586df24);
        border-color: #3f3c3c45 !important;
    }

    .buttonCaption {
        color: white;
        font-size: 25px;
        font-family: sans-serif;
        text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 0.5px 0.5px #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
    }

</style>

<h1 class="display-4">Eventos</h1>

<div class="row">
    <div class="col">
        <hr Categorias />
        <div class="col d-flex justify-content-center">
            <a href="eventosporcategoria?categoria=1" class="btn m-1 text-truncate ocioButton buttonCaption">Ocio</a>
            <a href="eventosporcategoria?categoria=2" class="btn m-1 text-truncate gastronomiaButton buttonCaption">Gastronomía</a>
            <a href="eventosporcategoria?categoria=4" class="btn m-1 text-truncate aireLibreButton buttonCaption">Al aire libre</a>
            <a href="eventosporcategoria?categoria=5" class="btn m-1 text-truncate arteCulturaButton buttonCaption">Arte y Cultura</a>
            <a href="eventosporcategoria?categoria=6" class="btn m-1 text-truncate tecnologiaCienciaButton buttonCaption">Tecnología y Ciencia</a>
            <a href="eventosporcategoria?categoria=3" class="btn m-1 text-truncate DeportesButton buttonCaption">Deportes</a>
        </div>
        <hr />
    </div>

</div>
<div class="row">
    @foreach (Evento oEvento in @Model)
    {
        @switch (oEvento.CategoriaNombre)
        {
            case "Ocio":
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-header ocioCardHeader ">
                            <h5 class="text-center card-title">
                                @oEvento.Titulo -
                                @if (oEvento.Precio == 0)
                                {
                                    <label class="form-label">Gratis</label>
                                }
                                else
                                {
                                    <label class="form-label">@oEvento.Precio €</label>
                                }
                                (@oEvento.ValorEnPuntos Ptos)
                            </h5>
                        </div>
                        <div class="card-body ocioCardBody ">
                            <div class="row">
                                <img src=@oEvento.Imagen
                                     class="rounded align-self-center" style="width: 155px;height: 155px;">

                                <div class="col">
                                    <p class="card-text"> @oEvento.Descripcion</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                        {
                            <div class="card-footer ocioCardFooter ">
                                <div class="row">
                                    <div class="col d-flex align-self-center">
                                        <strong>Categoria: </strong>
                                        <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                        <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                        <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                        <strong style="margin-left:2%">Entradas: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.PlazasActuales</label>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        @if (User.IsInRole("Usuario"))
                                        {
                                            <a href="#" class="btn btn-warning m-1 ocioCardButton">Reservar</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                break;
            case "Gastronomia":
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-header gastronomiaCardHeader ">
                            <h5 class="text-center card-title">
                                @oEvento.Titulo -
                                @if (oEvento.Precio == 0)
                                {
                                    <label class="form-label">Gratis</label>
                                }
                                else
                                {
                                    <label class="form-label">@oEvento.Precio €</label>
                                }
                                (@oEvento.ValorEnPuntos Ptos)
                            </h5>
                        </div>
                        <div class="card-body gastronomiaCardBody ">
                            <div class="row">
                                <img src=@oEvento.Imagen
                                     class="rounded align-self-center" style="width: 155px;height: 155px;">

                                <div class="col">
                                    <p class="card-text"> @oEvento.Descripcion</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                        {
                            <div class="card-footer gastronomiaCardFooter ">
                                <div class="row">
                                    <div class="col d-flex align-self-center">
                                        <strong>Categoria: </strong>
                                        <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                        <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                        <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                        <strong style="margin-left:2%">Entradas: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.PlazasActuales</label>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        @if (User.IsInRole("Usuario"))
                                        {
                                            <a href="#" class="btn btn-warning m-1 gastronomiaCardButton">Reservar</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                break;
            case "Deportes":
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-header DeportesCardHeader ">
                            <h5 class="text-center card-title">
                                @oEvento.Titulo -
                                @if (oEvento.Precio == 0)
                                {
                                    <label class="form-label">Gratis</label>
                                }
                                else
                                {
                                    <label class="form-label">@oEvento.Precio €</label>
                                }
                                (@oEvento.ValorEnPuntos Ptos)
                            </h5>
                        </div>
                        <div class="card-body DeportesCardBody ">
                            <div class="row">
                                <img src=@oEvento.Imagen
                                     class="rounded align-self-center" style="width: 155px;height: 155px;">

                                <div class="col">
                                    <p class="card-text"> @oEvento.Descripcion</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                        {
                            <div class="card-footer DeportesCardFooter ">
                                <div class="row">
                                    <div class="col d-flex align-self-center">
                                        <strong>Categoria: </strong>
                                        <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                        <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                        <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                        <strong style="margin-left:2%">Entradas: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.PlazasActuales</label>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        @if (User.IsInRole("Usuario"))
                                        {
                                            <a href="#" class="btn btn-warning m-1 DeportesCardButton">Reservar</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                break;
            case "Al aire libre":
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-header aireLibreCardHeader ">
                            <h5 class="text-center card-title">
                                @oEvento.Titulo -
                                @if (oEvento.Precio == 0)
                                {
                                    <label class="form-label">Gratis</label>
                                }
                                else
                                {
                                    <label class="form-label">@oEvento.Precio €</label>
                                }
                                (@oEvento.ValorEnPuntos Ptos)
                            </h5>
                        </div>
                        <div class="card-body aireLibreCardBody ">
                            <div class="row">
                                <img src=@oEvento.Imagen
                                     class="rounded align-self-center" style="width: 155px;height: 155px;">

                                <div class="col">
                                    <p class="card-text"> @oEvento.Descripcion</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                        {
                            <div class="card-footer aireLibreCardFooter ">
                                <div class="row">
                                    <div class="col d-flex align-self-center">
                                        <strong>Categoria: </strong>
                                        <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                        <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                        <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                        <strong style="margin-left:2%">Entradas: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.PlazasActuales</label>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        @if (User.IsInRole("Usuario"))
                                        {
                                            <a href="#" class="btn btn-warning m-1 aireLibreCardButton">Reservar</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                break;
            case "Arte y Cultura":
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-header arteCulturaCardHeader ">
                            <h5 class="text-center card-title">
                                @oEvento.Titulo -
                                @if (oEvento.Precio == 0)
                                {
                                    <label class="form-label">Gratis</label>
                                }
                                else
                                {
                                    <label class="form-label">@oEvento.Precio €</label>
                                }
                                (@oEvento.ValorEnPuntos Ptos)
                            </h5>
                        </div>
                        <div class="card-body arteCulturaCardBody ">
                            <div class="row">
                                <img src=@oEvento.Imagen
                                     class="rounded align-self-center" style="width: 155px;height: 155px;">

                                <div class="col">
                                    <p class="card-text"> @oEvento.Descripcion</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                        {
                            <div class="card-footer arteCulturaCardFooter ">
                                <div class="row">
                                    <div class="col d-flex align-self-center">
                                        <strong>Categoria: </strong>
                                        <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                        <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                        <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                        <strong style="margin-left:2%">Entradas: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.PlazasActuales</label>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        @if (User.IsInRole("Usuario"))
                                        {
                                            <a href="#" class="btn btn-warning m-1 arteCulturaCardButton">Reservar</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                break;
            case "Tecnologia y Ciencia":
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-header tecnologiaCienciaCardHeader ">
                            <h5 class="text-center card-title">
                                @oEvento.Titulo -
                                @if (oEvento.Precio == 0)
                                {
                                    <label class="form-label">Gratis</label>
                                }
                                else
                                {
                                    <label class="form-label">@oEvento.Precio €</label>
                                }
                                (@oEvento.ValorEnPuntos Ptos)
                            </h5>
                        </div>
                        <div class="card-body tecnologiaCienciaCardBody ">
                            <div class="row">
                                <img src=@oEvento.Imagen
                                     class="rounded align-self-center" style="width: 155px;height: 155px;">

                                <div class="col">
                                    <p class="card-text"> @oEvento.Descripcion</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col align-self-end">
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de inicio: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaInicio.ToShortDateString()</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <strong class="form-label" style="white-space:nowrap">Fecha de finalizaci&oacute;n: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.FechaFin.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Empresa") || User.IsInRole("Usuario"))
                        {
                            <div class="card-footer tecnologiaCienciaCardFooter ">
                                <div class="row">
                                    <div class="col d-flex align-self-center">
                                        <strong>Categoria: </strong>
                                        <label class="form-label text-truncate" style="margin-left:1%">@oEvento.CategoriaNombre</label>
                                        <strong style="margin-left:2%">Direcci&oacute;n: </strong>
                                        <a href="https://www.google.es/maps/place/@oEvento.UbicacionNombre" target="_blank" class="link-primary text-truncate" style="margin-left:1%">@oEvento.UbicacionNombre</a>
                                        <strong style="margin-left:2%">Entradas: </strong>
                                        <label class="form-label" style="margin-left:1%">@oEvento.PlazasActuales</label>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        @if (User.IsInRole("Usuario"))
                                        {
                                            <a href="#" class="btn btn-warning m-1 tecnologiaCienciaCardButton">Reservar</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                break;
        }

    }
</div>
