@model List<Evento>
@{
    ViewData["Title"] = "Mis eventos";
}
<style>
    /*ocio*/
    .ocioButton {
        background: #22d3ee;
        color: white;
        border-color: #22d3ee;
    }

    .Category1 {
        color: #22d3ee; /* Color para la categoría "Ocio" */
    }

    /*Gastronomia */
    .gastronomiaButton {
        background: #fb7185;
        color: white;
        border-color: #fb7185;
    }

    .Category2 {
        color: #fb7185; /* Color para la categoría "Gastronomía" */
    }

    /*Deportes*/
    .DeportesButton {
        background: #fde047;
        color: white;
        border-color: #fde047;
    }

    .Category3 {
        color: #fde047; /* Color para la categoría "Deportes" */
    }

    /* Aire libre */
    .aireLibreButton {
        background: #4ade80;
        color: white;
        border-color: #4ade80;
    }

    .Category4 {
        color: #4ade80; /* Color para la categoría "Al aire libre" */
    }

    /*Arte y Cultura*/
    .arteCulturaButton {
        background: #fb923c;
        color: white;
        border-color: #fb923c;
    }

    .Category5 {
        color: #fb923c; /* Color para la categoría "Arte y Cultura" */
    }

    /*Tecnologia y ciencia */
    .tecnologiaCienciaButton {
        background: #a361e9;
        color: white;
        border-color: #a361e9;
    }

    .Category6 {
        color: #a361e9; /* Color para la categoría "Tecnología y Ciencia" */
    }

    .buttonCaption {
        color: white;
        font-size: 1.25rem;
        font-family: sans-serif;
    }

    /*Botones de paginación*/
    .pagination-button {
        margin-right: 10px;
        background-color: #001122;
        border: none;
        font-weight: bold;
    }

        /* Estilo para los botones seleccionados */
        .pagination-button.active {
            background-color: white;
            color: #001122;
            font-weight: bold;
        }


    /* Personaliza los estilos de la card */
    .card-horizontal {
        max-width: 60em;
        height: auto;
        background-color: #001122;
        color: white;
        border: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.1); /* Cambia la sombra a blanca */
        transition: transform 0.3s; /* Agrega una transición de transformación */
    }

        .card-horizontal:hover {
            transform: translateY(-10px); /* Efecto de elevación al pasar el mouse */
        }

        .card-horizontal img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    /*@@keyframes pulse {
            0%, 100% { transform: scale(1); }
            50% { transform: scale(1.5); }
        }*/

    /*.category-icon {
            animation: pulse 1s ease-in-out infinite;
        }*/

    /*Boton de reservar*/
    .btn-reservar {
        position: relative;
        font-size: 0.75em;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5em 1em;
        display: inline-block;
        border-radius: 5px;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: white;
        background-color: #001122;
        height: 60px;
        border: 1px solid white;
    }

        .btn-reservar:hover {
            transform: translateY(-3px);
            color: white;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .btn-reservar:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        .btn-reservar::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }

        .btn-reservar::after {
            background-color: white;
        }

        .btn-reservar:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    /* Estilo para el contenedor con scroll horizontal */
    .scroll-horizontal {
        white-space: nowrap; /* Evita que los elementos se envuelvan */
        overflow-x: auto; /* Añade scroll horizontal cuando los elementos exceden el ancho del contenedor */
        -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos móviles */
        position: relative; /* Agrega posición relativa para posicionar el icono o el texto */
    }

        .scroll-horizontal::-webkit-scrollbar {
            display: none;
        }

    /*Estilos Radio buttons*/
    .radio-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        /*max-width: 350px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .radio-inputs > * {
            margin: 13px;
        }


    .radio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120px;
        min-height: 120px;
        border-radius: 0.5rem;
        border: 2px solid #001122;
        background-color: #001122;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;
    }

        .radio-tile:before {
            content: "";
            position: absolute;
            display: block;
            width: 0.75rem;
            height: 0.75rem;
            border: 2px solid #001122;
            background-color: #001122;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
        }

        .radio-tile:hover {
            border-color: #2260ff;
        }

            .radio-tile:hover:before {
                transform: scale(1);
                opacity: 1;
            }

    .radio-icon i {
        color: white;
        margin-bottom: 3px;
    }

    .radio-label {
        color: white;
        transition: 0.375s ease;
        text-align: center;
        font-size: 13px;
    }

    .radio-input {
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }



    /*Radio buttons clases*/
    /*Ocio*/
    .radio-ocio:checked + .radio-tile {
        border-color: #22d3ee;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #22d3ee;
    }

        .radio-ocio:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #22d3ee;
            border-color: #22d3ee;
        }

        .radio-ocio:checked + .radio-tile .radio-icon i {
            color: #22d3ee;
        }

        .radio-ocio:checked + .radio-tile .radio-label {
            color: #22d3ee;
        }

    .radio-ocio:focus + .radio-tile {
        border-color: #22d3ee;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #22d3ee;
    }

        .radio-ocio:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }

    /*Gastronomia*/
    .radio-gastronomia:checked + .radio-tile {
        border-color: #fb7185;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #fb7185;
    }

        .radio-gastronomia:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #fb7185;
            border-color: #fb7185;
        }

        .radio-gastronomia:checked + .radio-tile .radio-icon i {
            color: #fb7185;
        }

        .radio-gastronomia:checked + .radio-tile .radio-label {
            color: #fb7185;
        }

    .radio-gastronomia:focus + .radio-tile {
        border-color: #fb7185;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #fb7185;
    }

        .radio-gastronomia:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }

    /*Al aire libre*/
    .radio-aAireLibre:checked + .radio-tile {
        border-color: #4ade80;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #4ade80;
    }

        .radio-aAireLibre:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #4ade80;
            border-color: #4ade80;
        }

        .radio-aAireLibre:checked + .radio-tile .radio-icon i {
            color: #4ade80;
        }

        .radio-aAireLibre:checked + .radio-tile .radio-label {
            color: #4ade80;
        }

    .radio-aAireLibre:focus + .radio-tile {
        border-color: #4ade80;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #4ade80;
    }

        .radio-aAireLibre:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }

    /*Arte y cultura*/
    .radio-arteycultura:checked + .radio-tile {
        border-color: #fb923c;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #fb923c;
    }

        .radio-arteycultura:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #fb923c;
            border-color: #fb923c;
        }

        .radio-arteycultura:checked + .radio-tile .radio-icon i {
            color: #fb923c;
        }

        .radio-arteycultura:checked + .radio-tile .radio-label {
            color: #fb923c;
        }

    .radio-arteycultura:focus + .radio-tile {
        border-color: #fb923c;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #fb923c;
    }

        .radio-arteycultura:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }

    /*Tecnologia y Ciencia*/
    .radio-ityciencia:checked + .radio-tile {
        border-color: #a361e9;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #a361e9;
    }

        .radio-ityciencia:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #a361e9;
            border-color: #a361e9;
        }

        .radio-ityciencia:checked + .radio-tile .radio-icon i {
            color: #a361e9;
        }

        .radio-ityciencia:checked + .radio-tile .radio-label {
            color: #a361e9;
        }

    .radio-ityciencia:focus + .radio-tile {
        border-color: #a361e9;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #a361e9;
    }

        .radio-ityciencia:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }

    /*Deportes*/
    .radio-deporte:checked + .radio-tile {
        border-color: #fde047;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #fde047;
    }

        .radio-deporte:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #fde047;
            border-color: #fde047;
        }

        .radio-deporte:checked + .radio-tile .radio-icon i {
            color: #fde047;
        }

        .radio-deporte:checked + .radio-tile .radio-label {
            color: #fde047;
        }

    .radio-deporte:focus + .radio-tile {
        border-color: #fde047;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #fde047;
    }

        .radio-deporte:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }
</style>

<h1 class="display-4"><strong style="color:white">Mis eventos</strong></h1>
<hr style="background-color:white" />

<div class="row d-flex m-0 justify-content-center">
    <!-- Este div solo se muestra en pantallas pequeñas (sm y xs) -->
    <div class="col-md-auto m-0 col-sm-auto d-md-none d-lg-block d-lg-none d-xl-block d-xl-none">
        <div class="scroll-horizontal">
            <label id="labelOcio">
                <input class="radio-input radio-ocio" type="radio" name="filtro" value="ocio">
                <span class="radio-tile">
                    <span class="radio-icon">
                        <i style="color:#22d3ee" class="fa-solid fa-martini-glass-citrus fa-2x"></i>
                    </span>
                    <span style="color:#22d3ee" class="radio-label text-center">Ocio</span>
                </span>
            </label>
            <label>
                <input class="radio-input radio-gastronomia" type="radio" name="filtro" value="gastronomia">
                <span class="radio-tile">
                    <span class="radio-icon">
                        <i style="color:#fb7185" class="fa-solid fa-pizza-slice fa-2x"></i>
                    </span>
                    <span style="color:#fb7185" class="radio-label text-center">Gastronomía</span>
                </span>
            </label>
            <label>
                <input class="radio-input radio-aAireLibre" type="radio" name="filtro" value="aAireLibre">
                <span class="radio-tile">
                    <span class="radio-icon">
                        <i style="color:#4ade80" class="fa-solid fa-tree fa-2x"></i>
                    </span>
                    <span style="color:#4ade80" class="radio-label text-center">Al aire libre</span>
                </span>
            </label>
            <label>
                <input class="radio-input radio-arteycultura" type="radio" name="filtro" value="arteycultura">
                <span class="radio-tile">
                    <span class="radio-icon">
                        <i style="color:#fb923c" class="fa-solid fa-masks-theater fa-2x"></i>
                    </span>
                    <span style="color:#fb923c" class="radio-label text-center">Arte & Cultura</span>
                </span>
            </label>
            <label>
                <input class="radio-input radio-ityciencia" type="radio" name="filtro" value="tegyciencia">
                <span class="radio-tile">
                    <span class="radio-icon">
                        <i style="color:#a361e9" class="fa-solid fa-microchip fa-2x"></i>
                    </span>
                    <span style="color:#a361e9" class="radio-label text-center">Tec. & Ci</span>
                </span>
            </label>
            <label>
                <input class="radio-input radio-deporte" type="radio" name="filtro" value="deportes">
                <span class="radio-tile">
                    <span class="radio-icon">
                        <i style="color:#fde047" class="fa-solid fa-volleyball fa-2x"></i>
                    </span>
                    <span style="color:#fde047" class="radio-label text-center">Deportes</span>
                </span>
            </label>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center radio-inputs">
    <!-- Este div solo se muestra en pantallas que no sean pequeñas (md, lg, xl) -->
    <div class="col-md-auto col-sm-auto d-none d-sm-block d-sm-none d-md-block">
        <label id="labelOcio">
            <input class="radio-input radio-ocio" type="radio" name="filtro" value="ocio">
            <span class="radio-tile">
                <span class="radio-icon">
                    <i style="color:#22d3ee" class="fa-solid fa-martini-glass-citrus fa-2x"></i>
                </span>
                <span style="color:#22d3ee" class="radio-label text-center">Ocio</span>
            </span>
        </label>
    </div>
    <div class="col-md-auto col-sm-auto d-none d-sm-block d-sm-none d-md-block">
        <label>
            <input class="radio-input radio-gastronomia" type="radio" name="filtro" value="gastronomia">
            <span class="radio-tile">
                <span class="radio-icon">
                    <i style="color:#fb7185" class="fa-solid fa-pizza-slice fa-2x"></i>
                </span>
                <span style="color:#fb7185" class="radio-label text-center">Gastronomía</span>
            </span>
        </label>
    </div>
    <div class="col-md-auto col-sm-auto d-none d-sm-block d-sm-none d-md-block">
        <label>
            <input class="radio-input radio-aAireLibre" type="radio" name="filtro" value="aAireLibre">
            <span class="radio-tile">
                <span class="radio-icon">
                    <i style="color:#4ade80" class="fa-solid fa-tree fa-2x"></i>
                </span>
                <span style="color:#4ade80" class="radio-label text-center">Al aire libre</span>
            </span>
        </label>
    </div>
    <div class="col-md-auto col-sm-auto d-none d-sm-block d-sm-none d-md-block">
        <label>
            <input class="radio-input radio-arteycultura" type="radio" name="filtro" value="arteycultura">
            <span class="radio-tile">
                <span class="radio-icon">
                    <i style="color:#fb923c" class="fa-solid fa-masks-theater fa-2x"></i>
                </span>
                <span style="color:#fb923c" class="radio-label text-center">Arte & Cultura</span>
            </span>
        </label>
    </div>
    <div class="col-md-auto col-sm-auto d-none d-sm-block d-sm-none d-md-block">
        <label>
            <input class="radio-input radio-ityciencia" type="radio" name="filtro" value="tegyciencia">
            <span class="radio-tile">
                <span class="radio-icon">
                    <i style="color:#a361e9" class="fa-solid fa-microchip fa-2x"></i>
                </span>
                <span style="color:#a361e9" class="radio-label text-center">Tec. & Ci</span>
            </span>
        </label>
    </div>
    <div class="col-md-auto col-sm-auto d-none d-sm-block d-sm-none d-md-block">
        <label>
            <input class="radio-input radio-deporte" type="radio" name="filtro" value="deportes">
            <span class="radio-tile">
                <span class="radio-icon">
                    <i style="color:#fde047" class="fa-solid fa-volleyball fa-2x"></i>
                </span>
                <span style="color:#fde047" class="radio-label text-center">Deportes</span>
            </span>
        </label>
    </div>
</div>

<hr style="background-color:white" />
<div class="d-none">
    <p id="CategoriaRecibida">@ViewData["CetegoriaRecibida"]</p>
</div>
<div class="row overflow-visible m-5" style="height: 100%;">
    @foreach (Evento oEvento in @Model)
    {
        if (!oEvento.Reservado)
        {
            <div class="col-12 mb-4 d-flex justify-content-center">
                <div class="card card-horizontal" style="width:100%; border: 0.1px solid #c6c6c6;min-width: 350px;">
                    <div class="row g-0 h-100">
                        <div class="col event-image bg-white">
                            <img src=@oEvento.Imagen class="img-fluid">
                        </div>
                        <div class="col-md-8 event-info">
                            <!-- Encabezado del card -->
                            <div class="card-header py-3" style="border-bottom-color:white;">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-circle  category-icon fa-2x @("Category" + oEvento.FkIdCategoria)" title="@oEvento.CategoriaNombre"></i>
                                    </div>
                                    <div class="col-7 d-flex align-items-start">
                                        <h4 class="mb-0 text-left">@oEvento.Titulo</h4>
                                    </div>
                                    <div class="col-3 d-flex align-items-center justify-content-end">
                                        @if (oEvento.Precio == 0)
                                        {
                                            <p class="mb-0 font-weight-bold"><i class="fas fa-dollar-sign" style="color: #2c8c2f;"></i> Gratis!</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 font-weight-bold"><i class="fas fa-dollar-sign" style="color: #2c8c2f;"></i> @oEvento.Precio</p>
                                        }

                                        <p class="mb-0 ms-2 font-weight-bold"><i class="fas fa-coins" style="color:#ff2a5c"></i> @oEvento.ValorEnPuntos</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Cuerpo del card -->
                            <div class="card-body">
                                <!-- Descripción del evento -->
                                <div class="mb-3">
                                    <p class="mb-0 text-muted">@oEvento.Descripcion</p>
                                </div>
                                <hr>
                                <div class="row ">
                                    @*Fila oculta en sm*@
                                    <div class="col-12 d-none d-sm-block d-sm-none d-md-block">
                                        <!-- Fechas y ubicación -->
                                        @if (@oEvento.FechaInicio.ToShortDateString() == @oEvento.FechaFin.ToShortDateString())
                                        {
                                            <p><i class="far fa-calendar-alt"></i> Día: @oEvento.FechaInicio.ToShortDateString()</p>
                                        }else
                                        {
                                            <p><i class="far fa-calendar-alt"></i> Inicio: @oEvento.FechaInicio.ToShortDateString()</p>
                                            <p><i class="far fa-calendar-alt"></i> Fin: @oEvento.FechaFin.ToShortDateString()</p>
                                        }                                       
                                        <p><i class="far fa-clock"></i> Hora: @oEvento.HoraIncio.ToString(@"hh\:mm") - @oEvento.HoraFin.ToString(@"hh\:mm")</p>
                                    </div>
                                    <div class="col mb-3 d-md-none d-lg-block d-lg-none d-xl-block d-xl-none">
                                        <img src=@oEvento.Imagen class="img-fluid" style="width:70%;">
                                    </div>
                                    <div class="col-6 d-md-none d-lg-block d-lg-none d-xl-block d-xl-none">
                                        <!-- Fechas y ubicación -->
                                        @if (@oEvento.FechaInicio.ToShortDateString() == @oEvento.FechaFin.ToShortDateString())
                                        {
                                            <p><i class="far fa-calendar-alt"></i> Día: @oEvento.FechaInicio.ToShortDateString()</p>
                                        }
                                        else
                                        {
                                            <p><i class="far fa-calendar-alt"></i> Inicio: @oEvento.FechaInicio.ToShortDateString()</p>
                                            <p><i class="far fa-calendar-alt"></i> Fin: @oEvento.FechaFin.ToShortDateString()</p>
                                        }
                                        <p><i class="far fa-clock"></i> Hora: @oEvento.HoraIncio.ToString(@"hh\:mm") - @oEvento.HoraFin.ToString(@"hh\:mm")</p>
                                    </div>
                                </div>

                            </div>                            
                            <!-- Pie del card -->
                            <div class="card-footer" style="border-top-color:white">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 col-sm-6 col-6 d-flex align-items-center">
                                        <a href="../Ubicacion/Maps?direccion=@oEvento.UbicacionNombre&titulo=@oEvento.Titulo" class="link-primary text-truncate" style="margin-left:1%"><i class="fas fa-map-marker-alt me-1"></i>@oEvento.UbicacionNombre</a>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <a href="ModificarEvento?idEvento=@oEvento.IdEvento" class="btn-reservar" style="height: 100%;">
                                            Modificar
                                        </a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<hr style="background-color:white" />

<!-- Enlaces de paginación -->
<div class="d-flex justify-content-center mt-4 mb-3">
    @if (ViewBag.PaginaActual > 1)
    {
        <a href="@Url.Action("MisEventosEmpresa", new { page = ViewBag.PaginaActual - 1 })" class="btn btn-primary pagination-button">Anterior</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a href="@Url.Action("MisEventosEmpresa", new { page = i })" class="btn btn-secondary @(ViewBag.PaginaActual == i ? "active" : "") pagination-button">@i</a>
    }

    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a href="@Url.Action("MisEventosEmpresa", new { page = ViewBag.PaginaActual + 1 })" class="btn btn-primary pagination-button">Siguiente</a>
    }
</div>
