@model EventoPago
@{
    ViewData["Title"] = "Reservar evento";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    .icon-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px; /* Ajusta el valor para controlar la posición horizontal */
    }

    .icon-container i {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        display: none;
    }

    /*Estilos del checkbox empresa*/

    .checkbox-wrapper-35 .switch {
        display: none;
    }

    .checkbox-wrapper-35 .switch + label {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #78768d;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 15px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: max-content;
    }

    .checkbox-wrapper-35 .switch + label::before,
    .checkbox-wrapper-35 .switch + label::after {
        content: '';
        display: block;
    }

    .checkbox-wrapper-35 .switch + label::before {
        background-color: orange;
        border-radius: 500px;
        height: 15px;
        margin-right: 8px;
        -webkit-transition: background-color 0.125s ease-out;
        transition: background-color 0.125s ease-out;
        width: 40px;
    }

    .checkbox-wrapper-35 .switch + label::after {
        background-color: white;
        border-radius: 13px;
        box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
        height: 13px;
        left: 1px;
        position: absolute;
        top: 1px;
        -webkit-transition: -webkit-transform 0.125s ease-out;
        transition: -webkit-transform 0.125s ease-out;
        transition: transform 0.125s ease-out;
        transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
        width: 13px;
    }

    .checkbox-wrapper-35 .switch + label .switch-x-text {
        display: block;
        margin-right: .3em;
        width: 100px;
    }

    .checkbox-wrapper-35 .switch + label .switch-x-toggletext {
        display: block;
        font-weight: bold;
        height: 15px;
        overflow: hidden;
        position: relative;
        width: 100px;
    }

    .checkbox-wrapper-35 .switch + label .switch-x-unchecked,
    .checkbox-wrapper-35 .switch + label .switch-x-checked {
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
        transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
        transition: transform 0.125s ease-out, opacity 0.125s ease-out;
        transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    }

    .checkbox-wrapper-35 .switch + label .switch-x-unchecked {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    .checkbox-wrapper-35 .switch + label .switch-x-checked {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
        position: absolute;
        visibility: hidden;
    }

    .checkbox-wrapper-35 .switch:checked + label::before {
        background-color: orangered;
    }

    .checkbox-wrapper-35 .switch:checked + label::after {
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    .checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    /*Estilos para el boton*/
    .btn {
        position: relative;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2em;
        display: inline-block;
        border-radius: 5px;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: orange;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .btn::after {
        background-color: orange;
    }

    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
</style>
<form asp-controller="Reservas" asp-action="PagoEvento" id="pagoForm" method="post">
    <div class="d-none">
        <input id="IdEvento" asp-for="@Model.FkIdEvento" type="number" class="form-control" />
        <input id="IdUsuario" asp-for="@Model.FkIdUsuario" type="number" class="form-control" />
        <input id="IdEmpresa" asp-for="@Model.FkIdEmpresa" type="number" class="form-control"/>
        <input id="FechaAsistencia" asp-for="@Model.FechaAsistencia" type="text" class="form-control"/>
        <input id="Miembros" asp-for="@Model.Miembros" type="number" class="form-control"/>
        <input id="PrecioTotalUsuario" asp-for="@Model.PrecioTotal" type="number" class="form-control"/>
        <input id="PuntosAsignados" asp-for="@Model.PuntosAsignados" type="number" class="form-control"/>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-11 col">
            <h1 class="display-4"><strong style="color:white">Reservar evento</strong></h1>
            <hr style="background-color:white" />
        </div>
    </div>
      
    <div class="row justify-content-center">
        <div class="col-lg-10 col mb-2">
            <div class="input-group">
                <h4 style="color:white">@Model.Evento.Titulo</h4>
                <label style="color:white;font-weight:bold;margin-left: 1%;" title="Puntos">
                    (
                    <i class="fa-solid fa-coins" style="color:#ff2a5c"></i>
                    <label id="PuntosEvento">@Model.Evento.ValorEnPuntos</label>
                    )
                </label>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col mb-2">
            <div class="form-floating mb-3 position-relative">
                @Html.DropDownList("fechasEvento", null, "Seleccionar...", new{@class="form-select"} )
                <label>Fechas disponibles</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 col mb-2">
            <div class="form-floating mb-3">
                <input id="HoraInicio" asp-for="@Model.Evento.HoraInicio" type="time" class="form-control" aria-required="true" placeholder="Hora inicio" disabled />
                <label>Hora de inicio</label>
            </div>
        </div>
        <div class="col-lg-5 col mb-2">
            <div class="form-floating mb-3">
                <input id="HoraFin" asp-for="@Model.Evento.HoraFin" type="time" class="form-control" aria-required="true" placeholder="Hora fin" disabled />
                <label>Hora de finalización</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col mb-2">
            <div class="form-floating mb-3">
                <input id="PlazasDisponibles" asp-for="@Model.Evento.PlazasMaximas" type="number" class="form-control" aria-required="true" placeholder="Plazas disponibles" disabled />
                <label>Plazas disponibles</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-none">
            <div class="form-floating mb-3">
                <input id="PrecioPorPersona" asp-for="@Model.Evento.Precio" type="text" class="form-control" aria-required="true" placeholder="Precio por persona" disabled />
                <label>Precio por persona</label>
            </div>
        </div>
        <div class="col-lg-10 col mb-2">
            <div class="form-floating mb-3">
                <input id="PrecioConSimbolo" asp-for="@Model.PrecioConSimbolo" type="text" class="form-control" aria-required="true" placeholder="Precio por persona" disabled />
                <label>Precio por persona</label>
            </div>
        </div>
    </div>   
    <div class="row justify-content-center">
        <div class="col-lg-11 col mb-2">
            <hr style="background-color:white" />
        </div>
    </div>
   
    <div class="row justify-content-center">        
        <div class="col-lg-2 col-sm-12 col-xs-12 mb-2">
            <div class="form-floating mb-3 position-relative">
                @Html.DropDownList("miembros", null, "Seleccionar...", new{@class="form-select"} )
                <label>Nº Reservas</label>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12  mb-2">
            <div class="form-floating mb-3">
                <input id="PrecioTotal" type="text" class="form-control" aria-required="true" placeholder="Precio por persona" disabled />
                <label>Precio total</label>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12  mb-2">
            <div class="form-floating mb-3">
                <input id="RecompensaPuntos" type="text" class="form-control" aria-required="true" placeholder="Precio por persona" disabled />             
                <label>Puntos <i class="fa-solid fa-coins" style="color:#ff2a5c"></i></label>                
            </div>            
        </div>       
      
        <div class="col-lg-5 col-md-12 col-sm-12 mb-2 d-flex justify-content-end">
            <div class="form-floating mb-3">
                <button id="submit" name="submit" class="btn btn-warning btn-sm">Aceptar</button>
                <a href="../home/eventos" id="cancel" name="cancel" class="btn btn-warning btn-sm">Cancelar</a>
            </div>
        </div>
        @if (ViewBag.Alert != null)
        {

            <div class="alert alert-dismissable alert-danger col-11" style="margin-top:10px">
                <div class="row">
                    <strong>¡Error!</strong>
                </div>
                <div class="row">
                    <label class="form-label">@Html.Raw(ViewBag.Alert.Replace("\n", "<br />"))</label>
                </div>
            </div>

        }
    </div>
  
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/reservas.js"></script>

